<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <album>Home</album>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <style type="text/css">
body {text-align:center;}

h2 {text-align:left;}
</style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<ul class="w3-navbar w3-border w3-light-grey">
    <li><a class="w3-hover-red" href="">Home</a></li>
    <li><a class="w3-hover-blue" href="aboutus.html">About Us</a></li>
    <li><a class="w3-hover-green" href="#">Contact Us</a></li>
    <li><a class="w3-hover-teal" href="#">Help</a></li>
</ul>

<br>

  <span class="w3-tag w3-xxlarge w3-padding w3-blue  w3-round-large w3-center">
Welcome to the Online Library Portal!
</span>
<br><br>
<form>
    <input class="w3-input w3-border w3-round" type="text" name="search" placeholder="Search..">
</form>
<button class="w3-btn w3-black" href="search.html">Search</button>
<div class="w3-dropdown-hover">
    <button class="w3-btn w3-black">Adv. Search</button>
    <div class="w3-dropdown-content w3-border">
        <a href="#">Author</a>
        <a href="#">Title</a>
        <a href="#">Year Released</a>
    </div>
</div>
<input id="" class="w3-check" type="checkbox" checked="">
<label class="w3-validate">Books</label>
<input id="" class="w3-check" type="checkbox" checked="checked">
<label class="w3-validate">Movies</label>
<input id="" class="w3-check" type="checkbox" checked="checked">
<label class="w3-validate">Magazines</label>
<input id="" class="w3-check" type="checkbox" checked="checked">
<label class="w3-validate">Articles</label>
<br><br>
<form class="w3-container w3-card-4" action="form.asp">

    <h2 class="w3-text-blue">Login to your account</h2>

    <p>
        <input class="w3-input w3-border w3-round" name="username" placeholder="Username.." type="text"></p>

    <p>
        <input class="w3-input w3-border w3-round" name="pass" placeholder="Password.." type="password"></p>

    <p>
        <button class="w3-btn w3-green">Login</button>
        <button class="w3-btn w3-red">Forgot Pass/Username</button></p>
    <p>
        <input id="" class="w3-check" type="checkbox" checked="checked">
        <label class="w3-validate">Stay logged in</label></p>

</form>


</body>
</html>